<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MinaxWebTranslator.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".;Languages" />
    </assemblyBinding>
  </runtime>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.Net.Http">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net.Http" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
        traceOutputOptions="ProcessId, DateTime"
      />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  -->
  
  <!--<system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="MinaxListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MinaxWebTranslator.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <userSettings>
    <MinaxWebTranslator.Desktop.Properties.Settings>
      <setting name="AvalonDockLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickTranslationWordMax" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="DefaultGlossaryFileListLocation" serializeAs="String">
        <value>https://github.com/nuthrash/Minax/raw/master/MinaxWebTranslator/TranslationProjects/GlossaryFileList.txt</value>
      </setting>
      <setting name="RemoteXlatorType" serializeAs="String">
        <value>Excite</value>
      </setting>
      <setting name="XlatorCrypto" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorBaiduAppId" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorBaiduSecretKey" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorYoudaoAppKey" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorYoudaoAppSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorGoogleApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorMicrosoftSubKey" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorMicrosoftSubRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="XlatorMicrosoftServer" serializeAs="String">
        <value />
      </setting>
      <setting name="RemeberRecentProjects" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecentProjectCountMax" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MonitorAutoMergeWhenFileChanged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SourceTextAreaFontSizeMin" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="TargetTextAreaFontSizeMin" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="SourceTextAreaFontFamily" serializeAs="String">
        <value>MS UI Gothic</value>
      </setting>
      <setting name="TargetTextAreaFontFamily" serializeAs="String">
        <value>Microsoft JhengHei UI</value>
      </setting>
    </MinaxWebTranslator.Desktop.Properties.Settings>
  </userSettings>
</configuration>
