<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".;Languages" />
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="MinaxListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MinaxWebTranslator.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
